.navbar{
    background-color:rgb(10, 2, 58);
    position: relative;
    width: 5rem;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
img{
    width:4rem;
    cursor: pointer;
}
.btn{ 
    margin: 8px;
    width: 3rem;
    height: 3rem;
    background-color:pink;
}
.btn:hover{
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    border: 5px solid rgb(246, 236, 210);
}

@media screen and (max-width: 650px){
    .btn {
        display: none;
    }
.navbar {
    background: transparent linear-gradient(90deg,#112949,#000) 0 0 no-repeat padding-box;
    box-shadow: 3px 0 3px #00000029;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
}